@charset "utf-8";

/* 초기화 */

body {
    margin: 0;
    padding: 0;
    font-size: 0.9em !important;
}

.wrap {
    overflow: hidden;
    min-width: 1200px;
}

a {
    color: black !important;
    text-decoration: none !important;
}

p {
    margin: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

/* 헤더 */

header {
    height: 75px;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(187, 185, 185);
}

.nav {
    display: flex;
    margin: 0 auto;
    width: 1200px;
}
.nav__logo {
    width: 150px;
}

.nav__top-button {
    width: 500px;
    padding-left: 20px;
}

.nav__menu {
    display: flex;
    justify-content: flex-end;
    width: 550px;
}

.nav__menu > li {
    padding: 0 10px;
}


/* 메인 */

.main {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.main__top {
    height: 260px;
}

.main-section {
    margin: 40px 0;
}

.sso__content {
    height: 60px;
    background-color: #343b53;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.sso__content > p:nth-child(2) {
    width: 1120px;
}

.sso__content > p:nth-child(2) > a {
    text-decoration: underline;
    color: white;
}

.main__top {
}

.main__banner1 {

}

.banner1__content {
    display: flex;
    height: 500px;
    background-image: url(../images/banner1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    color: white;
}

.banner1__content div:nth-child(1) {
    width: 400px;
    padding: 70px 40px;
}

.banner1__content div:nth-child(2) {
    width: 800px;
}

.div {
    display: block;
}

.btn {
    border-radius: 0.5rem;
    color: #ffffff;
    background-color: #3662d8;

}

section {
    display: block;
}

.main-section{
    margin: 40px 0;
}

.banner2__content {
    height: 260px;
    border-radius: 10px;
    border: 1px solid grey;
    display: flex;
}

.banner2__content > div:nth-child(1) {
    width: 400px;
    background-image: url(../images/banner2.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 10px 0 0 10px;
}

.banner2__content > div:nth-child(2) {
    width: 550px;
    padding: 5px 15px
}

.banner2__content > div:nth-child(3) {
    width: 250px;
    text-align: center;
    padding: 30px 0;
}

.main__travel-helper > h2 {
    font-size: 30px;
    font-weight: 500;
}

.travel-helper__content {
    display: flex;
    height: 80px;
} 

.btn-helper {
    border: 1px solid grey;
    border-radius: 10px;
    width: 33%;
    text-align: left;
    margin: 0 10px;
    padding: 14px;
    cursor: pointer;
}

.btn-helper > div {
    display: flex;
    height: 50%;
    align-items: center;
}

.btn-helper > div > div:nth-child(1) {
    width: 70%;
    font-size: 20px;
}

.btn-helper > div > div:nth-child(2) {
    width: 30px;
    text-align: right;
}

.main__banner3 {
    margin: 40px 0;
}

.banner3__content {
    height: 190px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
}

.banner3__content > div:nth-child(1) {
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 55%;
    background-image: url(../images/banner3.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% 100%;
}

.banner3__content > div:nth-child(2) {
    margin: 0 auto;
}

.main__early-reservation > h2 {
    font-size: 30px;
    font-weight: 500;
}

.main__early-reservation > div {
    display: flex;
}

.main__early-reservation > div > .early-reservation1 {
    border-radius: 10px;
    height: 250px;
    width: 1000px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2),
     rgba(5, 1, 20, 0.8)), url('../images/early1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 10px;
}
/* 푸터 */


